<div class="modal-header">
    <h4 class="modal-title  pull-left">New Brand</h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="brandEntryForm">
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Brand Name">
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Description">
        </div>
        <div class="actions-section d-flex flex-row justify-content-end border-top pt-2">
            <a class="btn btn-success" (click)="saveNewBrand()" role="button">Save</a>
        </div>
    </form>
</div>

