<div class="wrapper h-100">
  <h5>Branch Entry</h5>
  <div class="form-container mt-2 container">
    <form [formGroup]="branchFormEntry">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="">Branch No</label>
          <input
          formControlName="branchNo"
          [ngClass]="{'is-invalid': branchFormEntry.get('branchNo').errors && branchFormEntry.get('branchNo').touched}"
          type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="number">
          <div class="invalid-feedback"
            *ngIf="branchFormEntry.get('branchNo').hasError('required') && branchFormEntry.get('branchNo').touched">
            Branch Number is required
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="">Branch Code</label>
          <input formControlName="code"
          [ngClass]="{'is-invalid': branchFormEntry.get('code').errors && branchFormEntry.get('code').touched}"
          type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Code">
          <div class="invalid-feedback"
            *ngIf="branchFormEntry.get('code').hasError('required') && branchFormEntry.get('code').touched">
            Branch Code is required
          </div>
        </div>
      </div>
       <div class="row">
          <div class="form-group col-md-12">
            <label for="">Name</label>
            <input
             formControlName="name"
             [ngClass]="{'is-invalid': branchFormEntry.get('name').errors && branchFormEntry.get('name').touched}"
             type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Branch Name">
            <div class="invalid-feedback"
              *ngIf="branchFormEntry.get('name').hasError('required') && branchFormEntry.get('name').touched">
              Branch name is required
            </div>
          </div>
       </div>
       <div class="row">
            <div class="form-group col-md-12">
              <label for="">Address</label>
              <input formControlName="address"
              [ngClass]="{'is-invalid': branchFormEntry.get('address').errors && branchFormEntry.get('address').touched}"
              type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Branch Location">
              <div class="invalid-feedback"
                *ngIf="branchFormEntry.get('address').hasError('required') && branchFormEntry.get('address').touched">
                Branch name is required
              </div>
            </div>
       </div>
       <div class="row">
            <div class="form-group col-md-5">
              <label for="">Contact</label>
              <input formControlName="contact"
              [ngClass]="{'is-invalid': branchFormEntry.get('contact').errors && branchFormEntry.get('contact').touched}"
              type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="branch contact number">
              <div class="invalid-feedback"
                *ngIf="branchFormEntry.get('contact').hasError('required') && branchFormEntry.get('contact').touched">
                Branch name is required
              </div>
            </div>
       </div>
       <div class="row">
            <div class="col-md-12 d-flex flex-row justify-content-end">
              <button (click)="backPage()" type="button" class="btn btn-outline-danger mr-2">Back</button>
              <a
              (click)="branchFormEntry.value.id   ? updateBranch() : createBranch()"
              [ngClass]="{'disabled': branchFormEntry.invalid}" name="" id="" class="btn btn-success"  role="button">{{branchFormEntry.value.id ? "Update": "Save"}}</a>
            </div>
       </div>
    </form>
  </div>
</div>
