<div class="wrapper h-100 d-flex flex-column justify-content-center align-items-center">
    <form [formGroup]="userLoginForm" class="form-signin mt-5 text-center ">
      <i class="fa fa-user-circle fa-5x m-4 text-primary" aria-hidden="true"></i>
      <h4 class="mb-3">Please Sign-in</h4>
      <label for="inputUsername" class="sr-only">Username</label>
      <input
      [ngClass]="{'is-invalid': userLoginForm.get('username').errors && userLoginForm.get('username').touched}"
      formControlName="username" tooltip="username is required" type="text" id="inputUsername"  class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input
      [ngClass]="{'is-invalid': userLoginForm.get('password').errors && userLoginForm.get('password').touched}"
      formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="invalid-feedback" *ngIf="!userLoginForm.valid">
        All fields are required.
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <ng-container *ngIf="!isLoading; else elseTemplate">
          <button [disabled]="userLoginForm.valid
                " class="btn btn-lg btn-primary btn-block" (click)="testToken() ">Sign In</button>
      </ng-container>
      <ng-template #elseTemplate>
          <div class="d-flex h-100 flex-column justify-content-center  text-center align-items-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
      </ng-template>



    </form>
    <p class="mt-5 mb-3 text-muted">YALMBROSOFT &copy; 2020</p>
</div>
