<div class="container-fluid d-flex   h-100 pb-3">
  <div class="row mt-4  flex-fill">
    <div class="summary-section col-md-8">
      <h4 class="ml-3">Summary</h4>
      <div class="card text-left">
        <div class="card-body bg-light">
          <div class="container-fluid d-flex flex-column">
            <app-bar-chart [reportName]="'Monthly Sales'" [yLabel]="'Sales'" [xLabel]="'Branches'"
              [data]="single">
            </app-bar-chart>
            <app-bar-chart [reportName]="'Annual Sales'" [yLabel]="'Sales'" [xLabel]="'Branches'" [data]="single">
            </app-bar-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="right-section col-md-4">
      <div class="section mb-2">
        <app-anouncements></app-anouncements>
      </div>
      <div class="section">
        <app-dashboard-calendar></app-dashboard-calendar>
      </div>
    </div>
  </div>
</div>
