<div class="modal-header">
  <h4 class="modal-title  pull-left">New Supplier</h4>
  <button type="button" class="close pull-right" (click)="bsModaRef.hide()" aria-label="Close" >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form">
    <div class="form-group">
      <label for="">Supplier Name</label>
      <input type="text" name="" id="" class="form-control" placeholder="Supplier Name" aria-describedby="helpId">
       </div>

    <div class="form-group d-flex flex-row justify-content-between align-items-center w-100">
        <select class=" form-control">
          <option>--Select Brand--</option>
          <option *ngFor="let brand of brands$ | async">{{brand.name}}</option>
        </select>
      <a name="" id="" class=" ml-2  btn btn-primary" role="button" (click)="addBrand()"  >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <a name="" id="" class=" ml-2 btn btn-success" role="button">New</a>
    </div>
    <div style="min-height: 35vh; max-height: 35vh; overflow-y: auto;" class="brand-list-section container">
      <h4>Brands</h4>
      <table class="table">
        <thead>
          <tr align="center">
            <th>Brand Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let brand of this.supplierForm.controls.supplierBrands.value">
            <td scope="row">{{brand.name}}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="actions-section d-flex flex-row justify-content-end border-top pt-2">
        <a name="" id="" class="btn btn-danger mr-1" (click)="bsModaRef.hide()" role="button">Cancel</a>
        <a name="" id="" class="btn btn-success" href="#" role="button">Save</a>
    </div>
  </form>
</div>
