<div class="container-fluid pt-3 pb-3 bg-light">
  <section class="d-flex border-bottom pb-2 flex-row justify-content-between">
    <h3 class="text-danger">New Purchase Order</h3>
    <div class="btn-group" dropdown>
      <a id="button-basic" class="btn" dropdownToggle>
        <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
      </a>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Add Supplier</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Update Price </a></li>
      </ul>
    </div>
  </section>
  <section class="entry-section mt-4">
    <form [formGroup]="poForm" class="container-fluid">
      <div class="row ">
        <div class="select-supplier form-inline  col-md-4">
          <div class="form-group ">
            <label for="" class="mr-2">Supplier Name:</label>
            <input
             [ngClass]="poForm.get('supplierId').invalid ? 'is-invalid': 'is-valid'"
              formControlName="supplierName"
              type="text" class="form-control bg-light" name="" id="selectedSupplier" readonly aria-describedby="helpId"
              placeholder="Select Supplier">
            <button (click)="selectSupplierModal()" class="btn btn-primary ">Select Supplier </button>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="form-inline  col-md-8">
          <div class="form-group w-100">
            <label for="" class="mr-3">Branch Name:</label>

            <select
              [ngClass]="poForm.get('branchId').invalid ? 'is-invalid': 'is-valid'"
            formControlName="branchId" class="form-control d-flex flex-fill" name="" id="branchSelection">
              <option [value]="0">---Select Branch---</option>
              <option  [ngValue]="branch.id" *ngFor="let branch of branches$ | async">{{branch.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-inline col-md-4 justify-content-end">
          <div class="form-group ">
            <label for="" class="mr-2">P.O Date:</label>
            <label for=""></label>
            <input type="date" class="form-control" name="" id="poDatePicker" aria-describedby="helpId" placeholder="">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class=" col-md-4">
          <div class="form-group w-100">
            <label for="" class="mr-3">Brand:</label>

            <select (ngModelChange)="onSelectBrand(selectedBrand)" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedBrand" class="form-control d-flex flex-fill" name="" id="brandSelection">
              <ng-container *ngIf="brands$ | async as brands; else elseTemplate">
                <option [value]="0">--Select Brand First--</option>
                <option    [ngValue]="brand"
                  *ngFor="let brand of brands; let indext = index">{{brand.brandName}}</option>
              </ng-container>
              <ng-template #elseTemplate>
                <option [value]="0">--Select Supplier First--</option>
              </ng-template>
            </select>
          </div>
        </div>
        <div class=" col-md-4">
          <div class="form-group">
            <label for="">Model:</label>
            <div class="form-inline">
              <select class="form-control mr-1 d-flex flex-fill"
               [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedModel"
              name="" id="modelSelection">
                <ng-container *ngIf="selectedBrand; else elseTemplateBrand">
                  <option [value]="0">--Select model First--</option>
                  <option  [ngValue]="products" *ngFor="let products of selectedBrand.masterProducts">
                    {{products.model}}</option>
                </ng-container>
                <ng-template #elseTemplateBrand>
                  <option>--Select Supplier First--</option>
                </ng-template>
              </select>
              <a [ngClass]="{'disabled': (selectedBrand === undefined || selectedModel === undefined)}" name="" id="" class="btn btn-success" (click)="addPurchaseItem()" role="button">Add </a>
            </div>

          </div>
        </div>
        <div class="form-inline col-md-4 justify-content-end">
          <div class="form-group ">
            <label for="" class="mr-2">Delivery Date:</label>
            <label for=""></label>
            <input
            [ngClass]="poForm.get('deliveryDate').invalid ? 'is-invalid': 'is-valid'"
            formControlName="deliveryDate" type="date" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div formArrayName="purchaseOrderItems" class="table-section table-responsive-md col-md-12">
          <table class="table table-md  table-hover bg-white">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>OrderedQty</th>
                <th>FreeQty</th>
                <th>TotalQty</th>
                <th>Cost</th>
                <th>Discount</th>
                <th>Sub-Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let poDetails of this.poForm.controls.purchaseOrderItems.value;
               let podetailIndex = index; trackBy: trackByFn"
               [formGroupName]="podetailIndex">
                <td scope="row">{{this.poForm.controls.purchaseOrderItems.value[podetailIndex].brandName}}</td>
                <td>{{this.poForm.controls.purchaseOrderItems.value[podetailIndex].masterProductName}}</td>
                <td>
                  <input
                  [ngClass]="this.poForm.controls.purchaseOrderItems.value[podetailIndex].orderedQuantity <= 0 ? 'is-invalid': 'is-valid'"
                  formControlName="orderedQuantity" class="border-0 bg-white" value="2" type="number">
                </td>
                <td>
                  <input
                    [ngClass]="this.poForm.controls.purchaseOrderItems.value[podetailIndex].freeQuantity < 0 ? 'is-invalid': 'is-valid'"
                  formControlName="freeQuantity" class="border-0 bg-white" value="2" type="number">
                </td>
                <td>
                  {{this.poForm.controls.purchaseOrderItems.value[podetailIndex].totalQuantity | number}}
                </td>
                <td>
                {{this.poForm.controls.purchaseOrderItems.value[podetailIndex].costPrice | currency}}
                </td>
                <td>
                  <input
                    [ngClass]="this.poForm.controls.purchaseOrderItems.value[podetailIndex].discount < 0 ? 'is-invalid': 'is-valid'"
                  formControlName="discount" class="border-0 bg-white" value="2" type="number">
                </td>
                <td>
                    {{this.poForm.controls.purchaseOrderItems.value[podetailIndex].totalCostPrice | currency}}
                <td>
                  <a name="" id="" class="btn text-danger"
                    (click)="removePurchaseItem(podetailIndex)"
                  role="button">
                    <i style="font-size: 20px;" class="fa fa-trash-o fa-1x" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12 d-flex justify-content-between">
          <a name="" id="" class="btn btn-danger" href="#" role="button">Back</a>
          <a [ngClass]="{'disabled': (poForm.invalid || poForm.get('purchaseOrderItems').invalid)}" name="" id="" class="btn btn-success"
          (click)="saveAndPrintPo()"
          role="button">Save & Print</a>
        </div>
      </div>
    </form>
  </section>
</div>
