<div class="container-fluid border-rounded bg-light">
    <section class="d-flex flex-row justify-content-between align-items-center border-bottom">
      <h3>Generate Stocks</h3>
      <div class="text-right">Total Page Count:<h5 class="text-danger">0</h5></div>
    </section>
    <section class="pt-3 container">
        <div class="row">
              <div class="input-group  col-md-6 col-sm-12">
                <input type="text" class="form-control" placeholder="P.O Number" aria-label="Purchase Order #"
                  aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button" id="button-addon2">Generate</button>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                  <div class="form-inline justify-content-end ">
                    <div class="form-group">
                      <label for="dateReceived" class="mr-2">Date Received: </label>
                      <input type="date" name="" id="dateReceived" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                  </div>
              </div>
                  <div class="col-md-6 col-sm-12 mt-2">
                    <div class="form-group">
                      <label for="">Supplier</label>
                      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                    </div>
              </div>
              <div class="col-md-6 col-sm-12 mt-2">
                  <div class="form-group">
                    <label for="">Branch</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  </div>
              </div>
              <div class="col-md-12 col-sm-12 ">
                <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="">Arrival Number</label>
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                      </div>
                    </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="">VIA</label>
                          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        </div>
                      </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="">WAY BILL</label>
                            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                          </div>
                        </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 table-area  mt-1" style="min-height: 380px; max-height: 380px; overflow-y: auto;">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Stock No</th>
                      <th>Serial</th>
                      <th>Model</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12 d-flex justify-content-end mb-3 border-top pt-2">
                  <a name="" id="" class="btn btn-primary" href="#" role="button">Save & Print</a>
              </div>
        </div>
    </section>
</div>
