
  <div class="modal-header">
    <h4 class="modal-title pull-left text-primary">
      <i class="fa fa-truck fa-2x " aria-hidden="true"></i>
      Supplier Selection</h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()" aria-label="Close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-container *ngIf="supplierList$ | async as suppliers; else elseTemplate">
    <div class="modal-body" style="max-height: 420px; overflow-y: auto;">
      <div class="form-group">
        <input type="text" [(ngModel)]="filter.name" class="form-control" name="supplierSearch" id="supplierSearch" aria-describedby="helpId"
          placeholder="Search Supplier">
      </div>
      <table class="table border-0 text-left">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-right">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers | filterBy: filter">
            <td scope="row">{{supplier.name}}</td>
            <td class="text-right"><a name="" id="" class="btn btn-success" (click)="selectSupplier(supplier)" role="button">Select</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
     <div class="loading-section d-flex flex-row justify-content-center">
        <div class="spinner-border text-primary " role="status">
          <span class="sr-only">Loading...</span>
        </div>
     </div>
  </ng-template>


