
<div class="h-100  d-flex flex-row">
  <div class="menu-section mr-3  " style="width: 20%;">
    <ul class="list-group w-100 ">
      <li [routerLink]="['branch']" [routerLinkActive]="['active', 'bg-dark', ' text-light']" class="list-group-item" >
        <i class="fa fa-map-marker mr-2 "  aria-hidden="true"></i>
        Branch
      </li>
      <li [routerLink]="['users']" [routerLinkActive]="['active', 'bg-dark', ' text-light']" class="list-group-item">
        <i class="fa fa-users mr-2"  aria-hidden="true"></i>
        Users</li>
    </ul>
  </div>
  <div class="router-section d-flex flex-column  flex-fill">
    <router-outlet></router-outlet>
  </div>
</div>
